<div *ngIf="this.authService.isLoggedIn()">
    <form class="form-group" [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>
                Gmail:
            </label>
            <input type="text" class="form-control" readonly formControlName="gmail" />
        </div>
        <div class="form-group">
            <label>
                <div *ngIf="reservationForm.get('discord').valid">
                    Discord Id:
                </div>
                <div *ngIf="!reservationForm.get('discord').valid">
                    Sign into
                    <a href="{{this.discordService.buildAuthRequest()}}" target="_blank">
                        <img width="10%" height="10%" src="assets/discord/discord_logo_wordmark_color.png">
                    </a>
                </div>
            </label>
            <input type="text" class="form-control" readonly formControlName="discord" />
        </div>
        <div class="form-group">
            <label>
                In-Game Picture:
            </label>
            <input type="file" class="form-control-file" formControlName="picture" />
        </div>
        <button type="submit" [disabled]="!reservationForm.valid">Submit</button>
    </form>
</div>
<div *ngIf="!this.authService.isLoggedIn()">
    <p>Please login to use this page</p>
</div>