<div *ngIf="this.authService.isLoggedIn()">
    <form class="form-group" [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>
                Gmail:
            </label>
            <input type="text" class="form-control" readonly formControlName="gmail"
                value="{{this.authService.getUser()?.gmail}}">
        </div>
        <div class="form-group">
            <label>
                Discord:
            </label>
            <input type="text" class="form-control" readonly formControlName="discord"
                value="{{this.discordService.buildAuthRequest()}}">
        </div>
        <div class="form-group">
            <label>
                In-Game Picture:
            </label>
            <input type="file" class="form-control-file" formControlName="picture" />
        </div>
        <button type="submit" [disabled]="!reservationForm.valid">Submit</button>
    </form>
</div>
<div *ngIf="!this.authService.isLoggedIn()">
    <p>Please login to use this page</p>
</div>